<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <main>
            <img id="dog-image" src="https://via.placeholder.com/300x300" alt="Dog Image">
        </main>
        <section>
            <h1>Guess the doggo</h1>
            <div class="chatroom">
                <ul id="messages"></ul>
                <div id="message-container">
                    <form id="send-container">
                        <input type="text" id="message-input">
                        <button type="submit" id="send-button">Send</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/script.js"></script>
</body>
</html>